.list
{
    overflow: auto;

    box-sizing: border-box;
    width: 31%;
    margin: 0;
    padding: 0;

    list-style: none;

    animation: FadeIn .7s ease-in-out forwards;

    border-right: 3px #a6ceef inset;
}

.item
{
    padding: 8px 16px;
}

.link
{
    text-decoration: none;
}

@media (max-width: 600px)
{
    .list
    {
        width: 100%;

        border-right: none;
        border-bottom: 3px #a6ceef inset;
    }
}

@keyframes FadeIn
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}
