.container
{
    box-sizing: border-box;
    width: 69%;
    margin: 0 0 0 auto;
    padding: 32px;

    animation: FadeIn .7s ease-in-out;

    background-color: rgba(43, 98, 200, .3);
}

.title
{
    font-size: 1.8em;
    font-weight: 400;

    margin: 0 auto;

    text-transform: uppercase;
}

.container table
{
    width: 100%;
    margin-top: 16px;

    table-layout: fixed;
    border-collapse: collapse;
}

.container th,
.container td
{
    padding: 8px 16px 16px;

    vertical-align: top;

    border-bottom: 2px solid rgba(166, 206, 239, .3);
}

.container th
{
    width: calc(100% / 3);

    text-align: left;
    text-transform: uppercase;
}

.container td
{
    width: calc(100% / 3 * 2);
    background-color: rgba(43, 98, 200, .1);
}

.film
{
    display: block;
}

.film + .film
{
    margin-top: 4px;
}


@media (max-width: 600px)
{
    .container
    {
        display: flex;
        flex-direction: column;

        width: 100%;
        margin: 0;
        padding: 32px 8px;
    }

    .container table
    {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;

        -webkit-overflow-scrolling: touch;
    }

    .container th
    {
        border: 0;
    }
}


@keyframes FadeIn
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}
