.loader
{
    position: fixed;
    top: 50%;
    left: 50%;

    width: 60px;
    height: 60px;
    margin: auto;

    transform: translate(-50%, -50%);
    animation: FadeIn .7s ease-in-out;

    background-color: transparent;
}

.arc1
{
    transform-origin: 50px;
    animation: Rotate 2s infinite;
}

.arc2
{
    transform-origin: 50px;
    animation: Rotate2 2s infinite;
}

.arc3
{
    transform-origin: 50px 50px;
    animation: Rotate3 2s infinite;
}

.frame
{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    max-width: 1000px;
    height: 100%;
    margin: auto;
    padding: 2%;

    animation: FadeIn .7s ease-in-out forwards;

    opacity: 0;
    border: 3px double #1b39e9;
    border-radius: 5px;
    background-image: linear-gradient(90deg, rgba(43, 98, 200, .3) 2px, transparent 2px), linear-gradient(90deg, rgba(43, 98, 200, .5) 4px, transparent 4px);
    background-size: 11%, 44%;
}

@keyframes FadeIn
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

@keyframes Rotate
{
    0%
    {
        transform: rotate(0);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes Rotate2
{
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(-120deg);
    }
    100%
    {
        transform: rotate(-320deg);
    }
}

@keyframes Rotate3
{
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(220deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
