.search
{
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.8em;

    display: block;

    width: 80%;
    margin: 0 auto;
    padding: 8px 16px;

    color: #a6ceef;
    border: none;
    outline: 0;
    background: transparent;
}

:global(::-webkit-input-placeholder)
{
    color: #a6ceef;
}

:global(::-moz-placeholder)
{
    color: #a6ceef;
}

:global(:-ms-input-placeholder)
{
    color: #a6ceef;
}

:global(:-moz-placeholder)
{
    color: #a6ceef;
}
