.search
{
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.4em;

    display: block;

    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 8px 16px;

    animation: FadeIn .7s ease-in-out forwards;

    color: #a6ceef;
    border: none;
    outline: 0;
    background-color: rgba(27,57,233, .3);
}

@media (max-width: 600px)
{
    .search
    {
        font-size: 1em;
    }
}

@keyframes FadeIn
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}
