:global(body)
{
    font-family: 'Share Tech Mono', monospace;
    font-size: 15px;

    margin: 0;
    padding: 2%;

    letter-spacing: .05em;

    color: #a6ceef;
    background-color: #000;
    background-image: linear-gradient(90deg, rgba(43, 98, 200, .3) 2px, transparent 2px), linear-gradient(90deg, rgba(43, 98, 200, .5) 4px, transparent 4px);
    background-size: 11%, 44%;
}

:global(::-webkit-input-placeholder)
{
    color: #a6ceef;
}

:global(::-moz-placeholder)
{
    color: #a6ceef;
}

:global(:-ms-input-placeholder)
{
    color: #a6ceef;
}

:global(:-moz-placeholder)
{
    color: #a6ceef;
}
