:global(body)
{
    font-family: 'Share Tech Mono', monospace;
    font-size: 15px;

    margin: 0;
    padding: 2%;

    color: #fff;
    background-color: #000;
}

:global(::-webkit-input-placeholder)
{
    color: #a6ceef;
}

:global(::-moz-placeholder)
{
    color: #a6ceef;
}

:global(:-ms-input-placeholder)
{
    color: #a6ceef;
}

:global(:-moz-placeholder)
{
    color: #a6ceef;
}
